.btn-up {
  position: fixed;
  cursor: pointer;
  border: none;
  top: 400px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  background-color: $special-other-blue;
}
.btn-up__icon {
  transform: rotate(180deg);
}
.btn-up:hover {
  transform: scale(1.1, 1.1);
}

@media (min-width: $tablet-width) {
  .btn-up {
    width: 49px;
    height: 49px;
    top: 400px;
    right: 100px;
  }
}

@media (min-width: $desktop-width) {
  .btn-up {
    width: 59px;
    height: 59px;
    top: 400px;
    right: 130px;
  }
}
