.header {
 width: 100%;
 background-color: $special-black;
}
.header-wrap {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-link__logo {
  width: 58px;
  height: 58px;
}
.header-btn {
  order: 2;
  position: relative;
}
.header-text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: $basic-white;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  width: 300px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid $basic-white;
}
.header-nav__list a {
  color: $basic-white;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
.header-nav__list a:hover {
  color: $special-tomato;
}
.header-nav__list a:active {
  color: $special-tomato;
  opacity: 0.5;
}
.header-box {
  order: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-phone {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  color: $basic-white;
}
.header-phone__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $basic-white;
  margin: 0;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .header-wrap {
    width: 768px;
    padding-left: 94px;
    padding-right: 94px;
  }
  .header-link__logo {
    width: 68px;
    height: 68px;
  }
  .header-btn {
    display: none;
  }
  .hidden {
    display: block;
  }
  .header-text {
    font-size: 27px;
    line-height: 37px;
    width: 400px;
    padding: 0;
    padding-left: 94px;
    text-align: left;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .header-wrapper {
    position: relative;
    padding-top: 30px;
    width: 768px;
    height: 100%;
    margin: 0 auto;
    background: url("/img/background-header.jpg") no-repeat;
    background-size: 968px 188px;
  }
  .header-nav {
    position: absolute;
    top: 50px;
    left: 200px;
  }
  .header-nav__list {
    justify-content: flex-start;
    gap: 35px;
    width: 400px;
    margin-bottom: 0;
    padding: 0;
    border: none;
  }
  .header-box {
    order: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .header-phone {
    text-align: right;
  }
  .header-phone__slogan {
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .header-wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    background: url("/img/background-header.jpg") no-repeat;
  }
  .header-wrap {
    width: 1440px;
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 33px;
  }
  .header-link__logo {
    width: 78px;
    height: 78px;
    margin-top: 26px;
  }
  .header-text {
    width: max-content;
    padding: 0;
    padding-left: 130px;
    text-align: left;
    margin: 0;
    margin-bottom: 66px;
    font-size: 38px;
    line-height: 46px;
  }
  .hidden {
    display: block;
  }
  .header-nav {
    position: absolute;
    top: 52px;
    left: 329px;
  }
  .header-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 400px;
    border: none;
  }
  .header-nav__list a {
    font-size: 18px;
    line-height: 22px;
  }
  .header-box {
    margin-top: 34px;
  }
  .header-phone {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
  .header-phone__slogan {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    margin-top: 8px;
  }
}
