$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

$basic-black: #000000;
$special-black: #1b1b1b;
$special-o-black: #1F2021;
$basic-white: #ffffff;
$special-tomato: tomato;
$basic-gray: #F3F3F3;
$special-o-gray: #CACACA;
$special-red: crimson;
$special-other-red: #E62D2D;
$special-blue: cadetblue;
$special-other-blue: #6EBBD3;
$special-o-blue: #5aabc4;
$special-lemon: lemonchiffon;
